#home #main {
    margin: var(--margin-m);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#home #content {
    margin-right: var(--margin-s);
}

#home #content * {
    background-color: var(--color-background-model);
    padding: calc(var(--margin-s) + .4rem);
    border-radius: var(--radius-s);
}
#home #content *[data-role="user"] {
    text-align: end;
    background-color: var(--color-background-user);
}