@font-face {
    font-family: "Vela Sans", sans-serif;
    src: url("../assets/fonts/VelaSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Vela Sans", sans-serif;
    src: url("../assets/fonts/VelaSans-Bold.ttf");
    font-weight: 700;
}