@import url("./text_input.css");
@import url("./menu.css");

#home #footer button{
    width: calc(var(--touch-size) + .4rem);
    height: calc(var(--touch-size) + .4rem);
    background-color: var(--color-base);
}

#home #footer[data-type="voice"] #input_area {
    display: none;
}
#home #footer[data-type="chat"] #menu {
    display: none;
}