@import url("./reset.css");
@import url("./content.css");
@import url("./footer.css");
@import url("./aside.css");
@import url("./fonts.css");

:root {
    --color-base: #f1f1f1;
    --color-background: #007E7A;
    --color-foreground: #007E7A;
    --color-background-user: #34a197;
    --color-background-model: #a1cecc;
    --margin-s: 1rem;
    --margin-m: 2.4rem;
    --margin-l: 3.6rem;
    
    --touch-size: 4.5rem;
    
    --radius-s: 1.2rem;
    --radius-m: 1.8rem;
    --radius-l: 100%
}

html {
    font-size: 62.5%;
    font-family: "Vela Sans", sans-serif;
}

body {
    width: 100svw;
    max-width: 100vw;
    height: 100svh;
    display: grid;
    grid-template-rows: 1fr max-content;
    background-color: var(--color-background);
    font-size: 1.8rem;
}

input {
    height: var(--touch-size);
    border-radius: var(--radius-s);
}

button {
    border: solid 1px var(--color-foreground);
    border-radius: var(--radius-l);
    aspect-ratio: 1/1;
    width: calc(var(--touch-size));
    height: calc(var(--touch-size));
    transition: all 0.15s ease-in-out;
}
button[data-touched="true"],
button:hover {
    transform: scale(1.15);
}
button:disabled {
    opacity: .5;
}

.icon {
    padding: .7rem;
    pointer-events: none;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}