@import url("./reset.css");
@import url("./content.css");
@import url("./text_input.css");

:root {
    --color-base: blue;
    --color-background: #eeeeee;
    --color-foreground: #c1c1c1;
    --margin-s: 1.2rem;
    --margin-m: 2.4rem;
    --margin-l: 3.6rem;
    
    --touch-size: 4rem;
    
    --radius-s: .5rem;
    --radius-m: .8rem;
    --radius-l: 1.2rem
}

html {
    font-size: 62.5%;
}

body {
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background-color: var(--color-background);
    font-size: 1.8rem;
}

input {
    height: var(--touch-size);
    border-radius: var(--radius-s);
}

button {
    border: solid 1px var(--color-foreground);
    border-radius: var(--radius-s);
}