@import url("./reset.css");
@import url("./content.css");
@import url("./footer.css");

:root {
    --color-base: #007E7A;
    --color-background: #f1f1f1;
    --color-foreground: #d5d5d5;
    --color-background-user: #0ABB9826;
    --color-background-model: #55555526;
    --margin-s: 1rem;
    --margin-m: 2.4rem;
    --margin-l: 3.6rem;
    
    --touch-size: 4rem;
    
    --radius-s: 1.2rem;
    --radius-m: 1.8rem;
    --radius-l: 2.5rem
}

html {
    font-size: 62.5%;
}

body {
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background-color: var(--color-background);
    font-size: 1.8rem;
}

input {
    height: var(--touch-size);
    border-radius: var(--radius-s);
    background-color: var(--color-background);
}

button {
    border: solid 1px var(--color-foreground);
    border-radius: var(--radius-s);
}
button:disabled {
    opacity: .5;
}

.icon {
    padding: .7rem;
    pointer-events: none;
}