#human_rights {
    --color-base: #007E7A;
    --color-background: #f1f1f1;
    padding: var(--margin-m);
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}

#human_rights header {
    display: flex;
    align-items: center;
    gap: var(--margin-m);
}

#human_rights main {
    display: flex;
    flex-direction: column;
    gap: var(--margin-s);
    height: 100%;
}

#human_rights footer {
    margin-bottom: 20px;
}

#human_rights #content {
    display: flex;
    flex-direction: column;
    gap: var(--margin-s);
}