#input_area {
    margin: var(--margin-m);
    display: flex;
    background-color: var(--color-background);
    gap: var(--margin-s);
}

#input_area #input_box{
    width: 100%;
    border: 1px solid var(--color-foreground);
    border-radius: var(--radius-s);
    background-color: var(--color-background);
    margin: auto;
}
#input_area #input_box input{
    width: 100%;
    padding: var(--margin-s) calc(var(--margin-s) + .3rem);
}

#input_area button{
    aspect-ratio: 1/1;
    width: calc(var(--touch-size) + .4rem);
    height: calc(var(--touch-size) + .4rem);
}
#input_area #voice{
    background-color: var(--color-base);
}
#input_area #chat{
    background-color: var(--color-base);
}
#input_area[data-type="chat"] #voice{
    display: none;
}
#input_area[data-type="voice"] #chat{
    display: none;
}